.centervertical {
	position: relative;
	display: block;
	top: 50%;
	transform: translateY(-50%);
}

.top {
	margin: 0;
	width: 100vw;
	max-width: 100%; /* keeps it inside the vertical scrollbar */
	padding-top: 48px; /* push content below the navbar */
}
@media (max-height: 480px) {
	.top {
		height: 480px;
	}
}
@media (min-height: 480px) {
	.top {
		height: 100vh;
	}
}


.navbar {
	height: 48px;
	width: 100vw;
	max-width: 100%; /* keeps it inside the vertical scrollbar */
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
}
.navbar-header, .navbar-links {
	display: inline-block;
	height: 100%;
}
.navbar-links > a, .navbar-header > div {
	height: 100%;
	display: inline-block;
}
/* use flexbox if supported. if not, the clause below will do nothing,
 * leaving a small space between (inline-block) navbar items - not ideal, but not really noticeable.
 */
.navbar, .navbar-header, .navbar-links {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
}
.navbar-links > a > div, .navbar-header > div > div {
	display: block;
	padding-left: 5px;
	padding-right: 5px;
}
/* Hide navbar links until scrolled out of view */
.navbar-hidden {
	visibility: hidden !important;
}


.tab-bar {
	display: inline-block;
	width: 10%;
	height: 100%;
}
.tab-content {
	display: inline-block;
	width: 90%;
	height: 100%;
	margin-right: -90%; /* So next tab overlaps */
	visibility: hidden; /* active tab will be shown */
}
/* use flexbox if supported. if not, the clause below will do nothing,
 * leaving a small space between (inline-block) navbar items - not ideal, but not really noticeable.
 */
.tabs {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
}
.tab-tab {
	position: relative;
	display: block;
	height: 25%;
	width: 100%;
}
.tab-label {
	position: absolute;
	top: 50%;
	right: 20%;
	transform: translateY(-50%);
}
.tab-content.tab-active {
	visibility: visible;
}



.content {
	/*margin-top: 48px;*/
	width: 100%;
	height: 100%;
}
.summary {
	width: 100%;
	height: 25%; /* 2/8 */
}
.tabs {
	width: 100%;
	height: 62.5%; /* 5/8 */
}
.timeline {
	width: 100%;
	height: 12.5%; /* 1/8 */
}

.timeline > div {
	position: relative; /* So we can position .download-resume with absolute */
	width: 100%;
	height: 50%;
}
.timeline > div > div {
	width: 100px;
	height: 100%;
	margin: 0 auto; /* center */
	text-align: center;
}
.download-resume {
	width: 100px;
	height: 27px; /* minimum size - when viewport shrinks to 480px */
	position: absolute;
	right: 10px;
	border-radius: 10px;
	text-align: center;
}

/* ----- Modal Resume Box Layout ----- */
.displaynone {
	display: none;
}
.modal-dimmer {
	z-index: 100;

	/* Fill entire viewport */
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	background-color: rgba(0,0,0,0.5);
}
.modal {
	z-index: 101;

	/* Center vertically and horizontally on viewport */
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 90vw;
	height: 90vh;
	max-width: 824px; /* The Google Doc will expand up to 816px - plus we leave some room for the scrollbar */

	background-color: #BBBBBB;
	border: 2px solid red;
}
.modal-topbar {
	position: absolute;
	top: 0;
	width: 100%;
	height: 36px;
}
.modal-topbar > div {
	height: 100%;
	top: 0;
	position: absolute;
}
.modal-title {
	left: 10px;
}
.modal-downloadgrp {
	right: 10px;
}
.modal-downloadgrp > * {
	display: inline-block;
}
.modal-downloadgrp > a {
	height: 100%;
	text-decoration: none; /* don't underline the text in the buttons */
}
.modal-downloadgrp > a > button {
	height: 24px;
	border-radius: 10px;
	text-align: center;
	padding: 0 10px;
	cursor: pointer; /* retain the link cursor from the enclosing <a> */
}
.modal-content {
	margin-top: 36px; /* below topbar */
	height: calc(100% - 36px);
	width: 100%;
}
.modal-content > iframe {
	height: 100%;
	width: 100%;
}


